<!DOCTYPE html>
<html ng-app="gebeleizis">
  <head>
	  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' https://*.googleapis.com *.google.com; script-src
    'self' 'unsafe-inline' 'unsafe-eval'">
	  <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="cache/62786f20-bdae-11ed-9396-2f18cdc8ff8d.js"></script>
    <link href="cache/62786f20-bdae-11ed-9396-2f18cdc8ff8d.css" rel="stylesheet">
  	</head>

  	<body>
  		<div ng-class="{'fullscreen-background': !$root.session.id}"></div>
  		<div ng-class="{'hide': !$root.showHiddenLayer}" class="hidden-layer"></div>
	  	<div ng-class="{'hide': !$root.loader.isLoading}" class="centered-box firstly fixed">
		  	<div class="content">
		    	<div class="loading"></div>
			    <div class="loading-mask">
		      		<div class="loading-line"></div>
			    </div>
		    	<div class="loading-logo"></div>
		    	<div class="loading-text">{{$root.loader.text | i18n}}</div>
		  	</div>
		</div>
		<notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>
		<bulma></bulma>
    	<div ng-class="{'blur': $root.showHiddenLayer, 'sidebar-fixed': $root.sidebarIsFixed && $root.session.id}" class="base">
	      	<nav ng-controller="CORE.SidebarController" ng-if="$root.session.id">
		        <div class="logo-wrapper">
		          	<span ng-click="fixing();" class="actions">
		            	<span class="icon">
		              		<i ng-class="{'inactive': $root.sidebarIsFixed}" class="fa fa-thumbtack"></i>
		            	</span>
		          	</span>
		          	<span class="logo"></span>
		        </div>
		        <div ng-scrollbar scrollbar-y="true" scrollbar-config="navScrollbarConfig" class="nav-scroll" set-to-window-height="-90">
			        <div class="nav-content" ng-include="path.before"></div>
			        <ul class="actions">
					  	<a ng-repeat="option in options" href="{{option.href}}">
					  		<li ng-class="{'active': option.is_active}">
								<div>
									<i class="fa {{option.icon}}"></i>
								</div>
					    		<div><span title="{{option.label | i18n}}">{{option.label | i18n}}</span></div>
					  		</li>
					  	</a>
					</ul>
					<ul ng-if="displayBackButton" ng-show="breadcrumbs.length > 1" class="actions">
						<a href="{{breadcrumbs[breadcrumbs.length-2].href}}">
			        		<li>
			        			<div>
									<i class="fa fa-ellipsis-h"></i>
								</div>
					    		<div>{{'lbl.back' | i18n}}</div>
			        		</li>
			        	</a>
					</ul>
		        	<div class="nav-content" ng-include="path.after"></div>
	        	</div>
		        <div class="nav-footer">
	          		<p>© {{$root.app.year}} Bitdefender [{{$root.app.version}}]</p>
		        </div>

	      	</nav>
	      	<div ng-class="{'left-center': $root.session.id, 'unset-transition': !$root.session.id}" class="main">
	        	<div ng-controller="CORE.HeaderController" ng-if="$root.session.id" class="navbar is-transparent is-fixed-top">
	          		<div class="navbar-brand">
	            		<div class="navbar-item is-hidden-mobile">
	              			<div class="breadcrumb-wrapper">
				                <div class="breadcrumb">
				                  	<ul>
					                    <li ng-class="{'is-active': $last}" ng-repeat="breadcrumb in breadcrumbs">
					                      <a href="{{breadcrumb.href}}">{{breadcrumb.label | i18n}}</a>
					                    </li>
				                  	</ul>
				                </div>
	              			</div>
	            		</div>
			            <div ng-click="toogleMenu();" ng-class="{'is-active': isActive}" class="navbar-burger burger">
			              	<span></span>
			              	<span></span>
			              	<span></span>
			            </div>
	          		</div>
	          		<div ng-class="{'is-active': isActive}" class="navbar-menu">
	            		<div class="navbar-end">
							<div ng-show="$root.session.organizations.length > 1 || $root.session.organizations[0].suborganizations.length > 0 || ($root.session.organizations.length == 1 && $root.session.organizations[0].id != $root.session.config.primary_organization.id)" class="navbar-item">
								<choose-organization data="$root.session.organizations" on-choose="switchOrg(organization);" select="$root.session.config.primary_organization" label="lbl.company" is-loading="switchOrgIsLoading"></choose-organization>
							</div>
	              			<div class="navbar-item has-dropdown is-hoverable">
	                			<div class="navbar-link">
				                  	<span class="icon">
				                    	<i class="fas fa-user-circle fa-2x"></i>
				                  	</span>
				                  	<span class="icon-text-aling-left">
				                  		{{$root.session.account.email}}
				                  	</span>
	                			</div>
				                <div class="navbar-dropdown is-right">

				                  	<a ng-if="$root.session.type == 'local_password'" class="navbar-item" href="#!/account/change-password">
			                    		<span class="icon">
				                    		<i class="fa fa-key"></i>
				                    	</span>
			                    		{{'lbl.change_password' | i18n}}
				                  	</a>
			                  		<hr ng-if="$root.session.type == 'local_password'" class="navbar-divider">
				                  	<a class="navbar-item " href="#!/logout">
				                    	<span class="icon">
				                    		<i class="fa fa-power-off"></i>
				                    	</span>
				                    	{{'lbl.logout' | i18n}}
				                  	</a>
				                </div>
			              </div>
	            		</div>
	          		</div>
	        	</div>
	    		<div class="wrapper" ng-view></div>
	      	</div>
    	</div>
  </body>
</html>
